body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d-flex {
  display: flex;
}

.icon {
  &[data-action='delete']::before {
    content: url('./assets/icons/Trash.png')
  }
}

.feed-item {
  display: flex;
  align-items: center;
  .feed-icon {
    width: 28px;
    height: 28px;
    &.todo::before {
      content: url('./assets/icons/checkmark.svg');
    }
    &.call-to-action::before {
      content: url('./assets/icons/pointing-up.svg');
    }
  }
}
